<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=20, maximum-scale=20, user-scalable=yes"/>
    <title>TravelHappy Map</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.10/js/esri/css/esri.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="http://js.arcgis.com/3.10/"></script> 
  </head>
  <body>
    <div id="map">
      <!-- <div class="logoCon"> -->
      <img class="homeLogo" src="https://rawgit.com/FeeldTrip/FeeldTrip/master/images/travelHappyLogo.png">
        <div class="data">
          New York City 
          <p>Very Happy</p>
        </div>
        <table class="table table-hover table-bordered", id="fareList">
          <tr>
            <th id="cities">Happiest Vacation Cities</th>
            <th>Sentiment Index</th>
            <th>Lowest Fare (from SFO)</th>
          </tr>
          <tr>
            <td>Los Angeles</td>
            <td>4</td>
            <td>fares[0].LowestNonStopFare</td>
          </tr>
          <tr>
            <td>Miami</td>
            <td>4</td>
            <td>$505.20</td>
          </tr>
          <tr>
            <td>Seattle</td>
            <td>4</td>
            <td>$322.80</td>
          </tr>
          <tr>
            <td>Boston</td>
            <td>4</td>
            <td>$337.20</td>
          </tr>
          <tr>
            <td>Orlando</td>
            <td>4</td>
            <td>$398.80</td>
          </tr>
          
        </table>
        
    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://rawgit.com/FeeldTrip/FeeldTrip/jakesBranch/js/main.js"></script>
  </body>
</html>  